.data {
  height: 73vh;
}

.navbar {
  height: 100%;
  width: 15%;
  border-right: 1px solid #b0b8c4;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar ul {
  width: 100%;
  list-style-type: none;
  text-overflow: ellipsis;
  padding: 0px;
}

.navbar ul li {
  width: 100%;
  text-overflow: ellipsis;
}

.navbar a {
  width: 100%;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #3d4147;
}

.general {
  height: 100%;
  width: 80%;
  overflow: auto;
}

.general label {
  float: left;
  clear: both;
}

.general #submit {
  float: left;
  clear: both;
  border: none;
  background: #429bf4;
  padding: 5.5px 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-decoration: none;
  vertical-align: middle;
}

.general form label{
  width: 100%;
  margin-bottom: 10px;
}

.general form textarea {
  width: 98%;
  height: 100px;
  resize: none;
}

.general > div:not(:last-child) {
  border-bottom: 1px solid #b0b8c4;
}

.referat {
  height: 30%;
  overflow: auto;
}

.professor {
  max-height: 25%;
  width: 100%;
  overflow: auto;
}

.student {
  max-height: 30%;
  width: 100%;
  overflow: auto;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: #f1f1f1;
  min-width: 160px;
}

.person {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  color: #3d4147;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.person:hover .dropdown-content {
  display: block;
}
