.data {
  height: 73vh;
}

.navbar {
  height: 100%;
  width: 15%;
  border-right: 1px solid #b0b8c4;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar ul {
  width: 100%;
  list-style-type: none;
  text-overflow: ellipsis;
  padding: 0px;
}

.navbar ul > li {
  width: 100%;
  text-overflow: ellipsis;
}

.navbar ul > li  a {
  width: 100%;
  text-overflow: ellipsis;
}

.general {
  height: 100%;
  width: 80%;
  overflow: auto;
}

.general > div:not(:last-child) {
  border-bottom: 1px solid #b0b8c4;
}

.referat {
  height: 30%;
  overflow: auto;
}

.professor {
  max-height: 25%;
  width: 100%;
  overflow: auto;
}

.student {
  max-height: 30%;
  width: 100%;
  overflow: auto;
}
