body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #3d4147;
}

.header {
  height: 20vh;
  max-height: 200px;
  text-align: center;
  text-overflow: clip;
  border-bottom: 1px solid #b0b8c4;
  overflow: hidden;
}

.header h1 {
  color: #429bf4;
  font-size: 50px;
  margin: 0px;
  padding-top: 20px;
  text-overflow: clip;
}

.header h1 > span {
  color: #f44253;
}

.header img {
  float: left;
  max-height: 200px;
  max-width: 400px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.spacer {
  display: inline-block;
  padding-left: 30px;
}

.bigSpacer {
  display: inline-block;
  padding-left: 40%;
}

.fullWidth {
  width: 100%;
  text-align: left;
}

.strong {
  font-weight: bold;
}

.error {
  color: #f44253;
}
