.error {
  height: 25px;
  margin: 25vh auto 0px auto;
  width: 30%;
}

.submit {
  border: none;
  background: #429bf4;
  padding: 5.5px 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-decoration: none;
  vertical-align: middle;
}

.submit:hover {
  color: #fff;
}

.login {
  margin: 0px auto;
  text-align: center;
  width: 30%;
}

.login label {
  font-weight: bold;
}

.login input[type='text'],
.login input[type='password'] {
  border-radius: 10px;
  border-width: 1px;
  border-color: #429bf4;
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
}
