.error {
  color: red;
  margin-top: 35vh;
  height: 25px;
}

.center {
  text-align: center;
  width: 100%;
}

.center label {
  font-weight: bold;
}

input[type='text'],
input[type='password'] {
  border-radius: 10px;
  width: 30%;
  height: 25px;
  margin-bottom: 5px;
}

input[type='submit'] {
  border-radius: 25px;
  height: 25px;
}

.login {
  width: 100%;
}

.header {
  text-align: center;
}

.header h1 {
  color: #429bf4;
  font-size: 50px;
  margin: 0px;
  padding-top: 20px;
}

.header h1 > span {
  color: #f44253;
}

.header img {
  float: left;
  max-height: 200px;
  max-width: 400px;
}
