.error {
  color: #f44253;
  margin-top: 25vh;
  height: 25px;
}

input[type='text'],
input[type='password'] {
  border-radius: 10px;
  border-width: 1px;
  border-color: #429bf4;
  width: 30%;
  height: 25px;
  margin-bottom: 20px;
}

.submit {
  border: none;
  background: #429bf4;
  padding: 5.5px 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-decoration: none;
  vertical-align: middle;
}

.submit:hover {
  color: #fff;
}

.login {
  width: 100%;
}
